html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.center {
	color: lightgreen;
	background-color: red;
	font-family: sans-serif;

	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}